/.libs
/html
/*.stamp
/gulkan-decl-list.txt
/gulkan-decl-list.txt.bak
/gulkan-decl.txt
/gulkan-decl.txt.bak
/gulkan-undeclared.txt
/gulkan-undocumented.txt
/gulkan-unused.txt
/gulkan.args
/gulkan.hierarchy
/gulkan.interfaces
/gulkan.prerequisites
/gulkan.signals
/gulkan.types
/gtkdoc-check.log
/gtkdoc-check.test
/gtkdoc-check.trs
/test-suite.log

